* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
section {
    padding: 60px 0;
}
.navbar img {
    width: 100px;
}

.full-screen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-screen video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content a {
    margin: 50px auto;
    display: block;
    width: 250px;
    border: 10px 0 10px 0;
}
.content h5 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    color: #fff;
    text-shadow: -1px 3px 15px rgba(0, 0, 0, 0.62);
}

/*About  */
.about {
    padding: 100px 0;
}

.feature-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail-img {
    width: 83%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
}

.play-btn {
    position: absolute;
}
.play-btn img {
    width: 60px;
}
.video-player {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
video:focus {
    outline: none;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}
.modal-screen {
    width: 100vw;
    max-width: none;
    margin: 0;
}

.sub-heading {
    font-size: 48px;
    text-transform: capitalize;
}
.sub-heading2 {
    font-size: 32px;
}
.desc {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);
}

.character {
    background-image: url(../image/bg-about.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.map img {
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.38);
}

@media screen and (max-width: 750px) {
    .sub-heading {
        font-size: 32px;
    }
}
